    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
               <div class="col-8" id="cours" >
                    <ul class="mx-auto ">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                      <h2 class="titler text-center" style="color:#000";><b>Base</b></h2>  
                      <br>                     
                      <br>
                        <ul id="nombreclase">
                        </ul>
                               <li id="sala" class="breadcrumb" ><a href="#" > Sala General</a></li>  
                               
                                                           
                    </div>
                    
                    </ul>
                    
                </div>
              </div>
         </div>

            <!-- Main Content -->
            <div id="content">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/matricula/">Area Personal</a></li>
                      <li class="breadcrumb-item active"><a href="/matricula/">Cursos</a></li>
                    </ol>
                </nav>


                    <!-- nombre dentro de la pagina -->
                
            </div>
             <!-- Tareas asigndas al parcial-->         
                        
                        <div class="col">
                            <div class="col-md-4">
                               <div class=" card-outline" alingn="center" >
                               <div   >
                                     <h2 class="titler text-center" style="color:#000";><b>Parciales</b></h2>
                                     </br>
                               </div> 

                                <div id= "" class="col-lg-4">
                                  <h1 class=" mb-2 text-center"></h1>
                                <ul id="parciales" class="navbar-brand mb-4 text-center">
                                                    
                                </ul>
                          </div>
                        <!-- fin tareas asignadas a un parcial-->    
                               </div>
                            </div>
      
                        </div>
                        
      
              <div class="row col-md-12">
                <div class="col-12">
                    <nav aria-label="breadcrumb">   
                     <li class="breadcrumb " ><a href="ingles -tarea.html"> Avisos</a></li>
                    </nav>
                </div>
            </div> 
                 <div class="content">
                   <div class="container-fluid">
                     <div class="row">





                       


                         

                      </div>
                   </div>
            </div> 


              </div>

        </div>
     </div> 


  