  
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/matricula">Area Personal</a></li>
                      <li class="breadcrumb-item active"><a href="/matricula">Cursos</a></li>
                      
                    </ol>
                </nav>

                    <!-- nombre dentro de la pagina -->
                <div class="row ">
                        <ul id="clase" class="mx-auto-"> 

                        </ul>
                        
                </div>
                <!-- entrega -->
                <div class="content">
                <div class="text-center">
                     <div class="row-8 ">
                        <ul id="clase" class="mx-auto-"> 

                        </ul>

                                  <h1>suba lo adquirido </h1>
                                  <b>Estimados jóvenes:
                                     La primera tarea
                                  </b>
                    </div><br>
                </div>               
                </div>   
               

                <div class="content">
                 <div class="col">
                         <div class="text-left">
                            <h1>Presentar</h1>
                         </div>   

                     <form  id="subir">   
                          <h4> Seleccione archivo</h4>    <!--validacion para que no acepte el envio vacio y permite solo el tipo de archivos aceptados--> 
                              <input name="fichero" id="file"  type="file" multiple required="required" size="150"  maxlength="150"  placeholder="" accept=" .pdf, .gif, .jpe, .jpeg, .jpg, .png, .svg"> 
                            <br/><br/>
                             <a> Descripción:</a> 
                             <input name="descripcio" id="descripcion" required="required" type="text"  size="100" maxlength="250" minlength="4" placeholder="Descripcion" >   
                             <br/><br/> 

                          <input id="envio" name="envio" type="submit" value="SUBIR ARCHIVOaaaa">   
                                <!--  onclick="botones();"        return enviando();entrega --> 
                                <progress id="progres-image" value="0" max="100" style="height: 35px; width:100%;"></progress>   
                    </form> 


                
                </div>
                </div>  

                
                

