
            <!-- Encabezaso -->
  <div class="content" >
      <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7"><br><br>
                <h1 class="h3 mb-2 text-center" style="color:#000";><strong> Cursos Matriculados</strong></h1> 
                 <br>
            </div>     
    
          </div>                
      </div>
  </div>
             <!-- Fin Encabezaso -->


 <!--  Contenido de las clases matriculadas -->
  <div class="content " >
     <div class="container-fluid-center">
        <div class="content-wrapper" >
         <section id='userInfo' heref="/clase/" class="content">
           <!--Clases matriculadas base-->
    
           <!--Clases matriculadas base-->
         </section>
        </div>
     </div>
  </div>
 <!--  fin Contenido de las clases matriculadas -->

 