    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
<nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/matricula">Area Personal</a></li>
                      <li class="breadcrumb-item active"><a href="/matricula">Cursos</a></li>
                      
                    </ol>
                </nav>
            <!-- Main Content -->
            <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
               <div class="col-8" id="namme" >
                    <ul class="mx-auto ">
                    <div class="d-sm-flex align-items-center justify-content-between col-12">
                    
                        <ul id="nombreclase">
                        </ul>
                                                       
                    </div>
                    
                    </ul>
                    
                </div>
              </div>
         </div>
                 

            </div>
              





                        <!-- Tareas asigndas al parcial-->         
                        
                        <div class="col">
                            <div class="col-md-4">
                               <div  id="trabajo" class=" card-outline" alingn="center" >
                               <h2 class="titler text-center" style="color:#000";><b>Asignacion</b></h2>
              
                                <div id= "" class="col-lg-6">
                                  <h1 class="h3 mb-4 text-center"></h1>
                                <ul id="" class="h3 mb-4 text-center">
                                                    
                                </ul>
                              
                                      
                            
                         </div>
                        <!-- fin tareas asignadas a un parcial-->    
                               </div>
                            </div>
      
                        </div>
                        
      


                         

                      </div>
                   </div>
            </div> 


              </div>

        </div>
     </div> 


  