
 <section class="content">
            <!-- Main Content -->
            <div id="content">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" id="claseta" > 
                      <li class="breadcrumb-item"><a href="/matricula/">Area Personal</a></li>
                      <li class="breadcrumb-item active"><a href="#">Cursos</a></li>
                      
                    </ol>
                </nav>

                    <!-- nombre dentro de la pagina -->

                <div class="row" id="descrip" >



                </div>
                <div class=" col-md-12">
                          <nav id ="selecciona" aria-label="breadcrumb">
                             <li class="breadcrumb " ><iframe src="claseentrega.pdf" frameborder="0"> </iframe></li>
                </div>          
                    
            </div>


                <!-- entrega -->
  
               <div class="content">          
                    <table class="table table-striped">                        
                     <h4> Estado</h4>
                     
                        <thead>
                             <tr >
                                 <th width="15%">Estado de entrega</th>  
                                 <th width="20%">Nombre del archivo</th>
                                <th width="15%">Fecha de entrega</th>
                        <th width="20%">Comentario</th>
                             </tr>
                        </thead>                             
                        <tbody id="estado">
                             <tr> 
                                <td></td>
                                <td ></td>
                                <td></td>
                                <td></td>
                             </tr>                                           
                        </tbody>
                    </table>
               </div> 
                
                  <div id="boton" class="content text-right "> 
                  </div>   
                    
                    <div class="content text-right "></div>
                      <a href="/entrega" class="nav-link" style="text-align: center; display: inline-block; width: 100%; ">
                         <img src="vendor/dist/img/ingles.jpeg" class="rounded float-start" alt=""   height="120px ">
                           <h3 >Presentar</h3>
                      </a>
                    </div>

            
            </div>   


     
                    <!-- para probar subir un archivo -->

                    <!-- fin para probar subir un archivo-->
    </section>  